<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srx.discussion.Mappers.UserToPostMapper">
    <resultMap id="UserToPostResult" type="com.srx.discussion.Entities.UserToPost">
        <id property="userId" column="user_id"/>
        <id property="postId" column="post_id"/>
        <result property="starTime" column="star_time"/>
        <result property="isStar" column="is_star"/>
    </resultMap>

    <resultMap id="userResult" type="com.srx.discussion.Entities.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="authority" column="authority"/>
        <result property="starPostId" column="post_id"/>
        <result property="starPostTitle" column="post_title"/>
    </resultMap>
    <sql id="baseSelect">
        select * from user_to_post
    </sql>
    <insert id="insertStarPost">
        insert into user_to_post(user_id,post_id) values(#{userId},#{postId})
    </insert>
    <update id="updateIsStarToDelete">
        update user_to_post set is_star=0 where user_id=#{userId} and post_id=#{postId}
    </update>
    <update id="updateIsStarToLive">
        update user_to_post set is_star=1 where user_id=#{userId} and post_id=#{postId}
    </update>
    <select id="queryIsStarStatus" resultType="String">
        select is_star from user_to_post
        where user_id=#{userId} and post_id=#{postId}
    </select>
    <select id="queryUserStarPost" resultMap="userResult">
        SELECT u.*,p.post_id,p.post_title FROM user u
        JOIN user_to_post up
        ON u.user_id=up.user_id
        JOIN post p
        ON p.post_id=up.post_id
        WHERE up.user_id=#{userId} AND up.is_star=1
    </select>
    <select id="queryUserToPostListByUserId" resultMap="UserToPostResult">
        <include refid="baseSelect"/>
        where user_id=#{userId} and is_star=1
    </select>

</mapper>